body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 4em;
    margin: 50px auto;
    width: fit-content;
}

#boxContent {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

#boxParagraph {
    min-width: 200px;
    font-size: 1.2em;
}

#boxImages {
    margin-top: 50px;
}

img {
    width: 100%;
    max-width: 150px;
}